$col-white: #ffffff;
$col-light-blue: #67A6FB;
$col-blue: #3F10D2;
$col-black: #292929;
$col-gray: #494949;

$font-main: 'Montserrat', sans-serif;
$fc-base: 16px;

$radius-main: 40px;
$container-witdh: 1320px;