$col-white: #ffffff;
$col-light-blue: #67A6FB;
$col-blue: #3F10D2;
$col-black: #1E1E1E;
$col-gray: #494949;

$font-main: 'Montserrat', sans-serif;
$fc-base: 16px;

$radius-main: 40px;
$container-witdh: 1320px;

$header-height: 9px;
$border-radius-lg: 49px;


// COURSES
$container-max-width: 1415px;
$slider-width: 560px;
$slider-height: 398px;